!tables/kaiju_gather/family_reads.tsv
!tables/kaiju_gather/order_reads.tsv

tables/*.csv
tables/*.tsv
tables/gm_gathering/coverm_genome
tables/gm_gathering/
tables/heatmaps_tpm
tables/heatmaps_ra

checks.rmd
*.tsv
*.r

test.py
concat.py

notebooks/geomosaic_cookbook.ipynb
hmm_table_template.tsv
parse_bigecyhmm.py